USE [master]
GO
/****** Object:  Database [QLBanDongHo]    Script Date: 09/04/2026 06:35:57 ******/
CREATE DATABASE [QLBanDongHo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanDongHo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIEUHUONG\MSSQL\DATA\QLBanDongHo.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanDongHo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIEUHUONG\MSSQL\DATA\QLBanDongHo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanDongHo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanDongHo]
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongCoBan] [decimal](18, 0) NOT NULL,
	[PhuCap] [decimal](18, 0) NULL,
	[Thuong] [decimal](18, 0) NULL,
	[Phat] [decimal](18, 0) NULL,
	[TongLuong] [decimal](18, 0) NOT NULL,
	[NgayTinh] [date] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[CaLam] [nvarchar](20) NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [int] NULL,
	[ThanhTien] [int] NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_CTHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaPN] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSanPham]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSanPham](
	[MaCTSP] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[DuongKinhMat] [nvarchar](50) NULL,
	[DoDayMat] [nvarchar](50) NULL,
	[ChatLieuVo] [nvarchar](50) NULL,
	[ChatLieuDay] [nvarchar](50) NULL,
	[KieuMat] [nvarchar](50) NULL,
	[Kinh] [nvarchar](100) NULL,
	[BoMay] [nvarchar](50) NULL,
	[NangLuongCo] [nvarchar](50) NULL,
	[ThoiGianTruCoc] [nvarchar](50) NULL,
	[DoChiuNuoc] [nvarchar](50) NULL,
	[ChucNangKhac] [nvarchar](255) NULL,
	[BaoHanh] [nvarchar](100) NULL,
	[MauMatSo] [nvarchar](100) NULL,
	[TrongLuong] [decimal](6, 2) NULL,
 CONSTRAINT [PK__CTSanPha__1E4FCECD7161CA13] PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonTu]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonTu](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[LoaiDon] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[LyDo] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[NgayTao] [datetime] NULL,
	[NgayGui] [date] NULL,
 CONSTRAINT [PK__DonTu__3D89F568B257CBD2] PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGG] [int] IDENTITY(1,1) NOT NULL,
	[TenGG] [nvarchar](255) NULL,
	[PhanTramGiam] [int] NULL,
	[DieuKien] [int] NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [int] NULL,
	[MaGG] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [varchar](50) NULL,
 CONSTRAINT [PK__HoaDon__2725A6E098A4995E] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[TongChiTieu] [int] NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChucVu]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChucVu](
	[MaLS] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaCVCu] [varchar](10) NULL,
	[MaCVMoi] [varchar](10) NOT NULL,
	[NgayThayDoi] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongCoBanTheoChucVu]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongCoBanTheoChucVu](
	[MaCV] [varchar](10) NOT NULL,
	[LuongCoBan] [decimal](18, 0) NOT NULL,
	[PhuCapChucVu] [decimal](18, 0) NULL,
	[HeSoLuong] [decimal](5, 2) NULL,
 CONSTRAINT [PK__LuongCoB__27258E76BB6EBE14] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[MaCV] [varchar](10) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__NhanVien__2725D70ABACF3960] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [varchar](50) NOT NULL,
	[TenQuyen] [nvarchar](100) NOT NULL,
	[NS_XemDanhSach] [bit] NULL,
	[NS_Them] [bit] NULL,
	[NS_Sua] [bit] NULL,
	[NS_Xoa] [bit] NULL,
	[NS_DuyetNghi] [bit] NULL,
	[NS_ThayDoiChucVu] [bit] NULL,
	[NS_TinhLuong] [bit] NULL,
	[NS_XemLuongCaNhan] [bit] NULL,
	[NS_InBangLuong] [bit] NULL,
	[ChamCong] [bit] NULL,
	[KHO_XemSanPham] [bit] NULL,
	[KHO_ThemSanPham] [bit] NULL,
	[KHO_SuaSanPham] [bit] NULL,
	[KHO_XoaSanPham] [bit] NULL,
	[KHO_NhapHang] [bit] NULL,
	[KHO_QuanLyNCC] [bit] NULL,
	[KHO_BaoCaoTonKho] [bit] NULL,
	[BH_LapPhieuXuat] [bit] NULL,
	[BH_ThongKeDoanhThu] [bit] NULL,
	[BH_ThongKeLoiNhuan] [bit] NULL,
	[PQ_QuanLyPhanQuyen] [bit] NULL,
	[ADMIN_BaoCaoTongHop] [bit] NULL,
	[QLBanHang] [bit] NULL,
	[QLNhapHang] [bit] NULL,
	[QLNhanVien] [bit] NULL,
	[QLSanPham] [bit] NULL,
	[QLKhachHang] [bit] NULL,
	[QLKhuyenMai] [bit] NULL,
	[QLThongKe] [bit] NULL,
 CONSTRAINT [PK__PhanQuye__1D4B7ED4ACA600B4] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaNCC] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__PhieuNha__2725E7F095A7F48C] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[ThuongHieu] [nvarchar](255) NULL,
	[Xuatxu] [nvarchar](50) NULL,
	[MaLoai] [int] NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[maNCC] [int] NULL,
	[TrangThai] [bit] NULL,
	[MaSP]  AS ('SP'+right('000'+CONVERT([varchar](3),[ID]),(3))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 09/04/2026 06:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [int] NOT NULL,
	[TaiKhoan] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[MaQuyen] [varchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuong] ON 

INSERT [dbo].[BangLuong] ([MaBL], [MaNV], [Thang], [Nam], [LuongCoBan], [PhuCap], [Thuong], [Phat], [TongLuong], [NgayTinh], [GhiChu], [TrangThai]) VALUES (1, 1, 3, 2026, CAST(25000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(35000000 AS Decimal(18, 0)), CAST(N'2026-04-08' AS Date), N'Lương tháng 3/2026', 1)
INSERT [dbo].[BangLuong] ([MaBL], [MaNV], [Thang], [Nam], [LuongCoBan], [PhuCap], [Thuong], [Phat], [TongLuong], [NgayTinh], [GhiChu], [TrangThai]) VALUES (2, 2, 3, 2026, CAST(18000000 AS Decimal(18, 0)), CAST(5000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(23000000 AS Decimal(18, 0)), CAST(N'2026-04-08' AS Date), N'Lương tháng 3/2026', 1)
INSERT [dbo].[BangLuong] ([MaBL], [MaNV], [Thang], [Nam], [LuongCoBan], [PhuCap], [Thuong], [Phat], [TongLuong], [NgayTinh], [GhiChu], [TrangThai]) VALUES (3, 3, 3, 2026, CAST(18000000 AS Decimal(18, 0)), CAST(5000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(23000000 AS Decimal(18, 0)), CAST(N'2026-04-08' AS Date), N'Lương tháng 3/2026', 1)
SET IDENTITY_INSERT [dbo].[BangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [CaLam], [GioVao], [GioRa], [TrangThai], [GhiChu]) VALUES (1, 1, CAST(N'2026-03-02' AS Date), N'Cả ngày', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Đi làm', NULL)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [CaLam], [GioVao], [GioRa], [TrangThai], [GhiChu]) VALUES (2, 1, CAST(N'2026-03-03' AS Date), N'Cả ngày', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Đi làm', NULL)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [CaLam], [GioVao], [GioRa], [TrangThai], [GhiChu]) VALUES (3, 1, CAST(N'2026-03-04' AS Date), N'Cả ngày', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Đi làm', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'CV01', N'Giám đốc')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'CV02', N'Quản lý nhân sự')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (N'CV03', N'Quản lý kho')
GO
SET IDENTITY_INSERT [dbo].[CTHoaDon] ON 

INSERT [dbo].[CTHoaDon] ([MaCTHD], [MaHD], [SoLuong], [GiaBan], [ThanhTien], [ID]) VALUES (1, 1, 2, 750000, 1500000, 1)
INSERT [dbo].[CTHoaDon] ([MaCTHD], [MaHD], [SoLuong], [GiaBan], [ThanhTien], [ID]) VALUES (2, 2, 5, 500000, 2500000, 2)
INSERT [dbo].[CTHoaDon] ([MaCTHD], [MaHD], [SoLuong], [GiaBan], [ThanhTien], [ID]) VALUES (3, 3, 3, 600000, 1800000, 3)
SET IDENTITY_INSERT [dbo].[CTHoaDon] OFF
GO
INSERT [dbo].[CTPhieuNhap] ([MaPN], [ID], [SoLuong], [GiaBan], [ThanhTien]) VALUES (1, 1, 5, 25000000, 125000000)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [ID], [SoLuong], [GiaBan], [ThanhTien]) VALUES (2, 2, 10, 8500000, 85000000)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [ID], [SoLuong], [GiaBan], [ThanhTien]) VALUES (3, 3, 8, 8000000, 64000000)
GO
SET IDENTITY_INSERT [dbo].[CTSanPham] ON 

INSERT [dbo].[CTSanPham] ([MaCTSP], [ID], [DuongKinhMat], [DoDayMat], [ChatLieuVo], [ChatLieuDay], [KieuMat], [Kinh], [BoMay], [NangLuongCo], [ThoiGianTruCoc], [DoChiuNuoc], [ChucNangKhac], [BaoHanh], [MauMatSo], [TrongLuong]) VALUES (1, 1, N'41mm', N'13mm', N'Thép không gỉ', N'Thép', N'Tròn', N'Sapphire', N'Automatic', N'Cơ tự động', N'48 giờ', N'300m', N'Lịch ngày', N'24 tháng', N'Đen', CAST(155.00 AS Decimal(6, 2)))
INSERT [dbo].[CTSanPham] ([MaCTSP], [ID], [DuongKinhMat], [DoDayMat], [ChatLieuVo], [ChatLieuDay], [KieuMat], [Kinh], [BoMay], [NangLuongCo], [ThoiGianTruCoc], [DoChiuNuoc], [ChucNangKhac], [BaoHanh], [MauMatSo], [TrongLuong]) VALUES (2, 2, N'42mm', N'14mm', N'Thép không gỉ', N'Dây cao su', N'Tròn', N'Sapphire', N'Automatic', N'Cơ tự động', N'50 giờ', N'100m', N'Chronograph', N'24 tháng', N'Đen', CAST(145.00 AS Decimal(6, 2)))
INSERT [dbo].[CTSanPham] ([MaCTSP], [ID], [DuongKinhMat], [DoDayMat], [ChatLieuVo], [ChatLieuDay], [KieuMat], [Kinh], [BoMay], [NangLuongCo], [ThoiGianTruCoc], [DoChiuNuoc], [ChucNangKhac], [BaoHanh], [MauMatSo], [TrongLuong]) VALUES (3, 3, N'40mm', N'11mm', N'Thép không gỉ', N'Da', N'Tròn', N'Khoáng', N'Mechanical', N'Lên dây tay', N'40 giờ', N'30m', N'Lịch ngày', N'12 tháng', N'Trắng', CAST(120.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[CTSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DonTu] ON 

INSERT [dbo].[DonTu] ([MaDon], [MaNV], [LoaiDon], [NgayBatDau], [NgayKetThuc], [LyDo], [TrangThai], [NgayTao], [NgayGui]) VALUES (3, 1, N'Nghỉ phép', CAST(N'2026-03-15' AS Date), CAST(N'2026-03-17' AS Date), N'Giải quyết công việc gia đình', N'Đã duyệt', CAST(N'2026-03-12T20:11:43.227' AS DateTime), NULL)
INSERT [dbo].[DonTu] ([MaDon], [MaNV], [LoaiDon], [NgayBatDau], [NgayKetThuc], [LyDo], [TrangThai], [NgayTao], [NgayGui]) VALUES (4, 1, N'Nghỉ ốm', CAST(N'2026-03-20' AS Date), CAST(N'2026-03-21' AS Date), N'Sốt xuất huyết', N'Đã duyệt', CAST(N'2026-03-12T20:11:43.227' AS DateTime), NULL)
INSERT [dbo].[DonTu] ([MaDon], [MaNV], [LoaiDon], [NgayBatDau], [NgayKetThuc], [LyDo], [TrangThai], [NgayTao], [NgayGui]) VALUES (5, 5, N'Nghỉ phép', CAST(N'2026-04-10' AS Date), CAST(N'2026-04-10' AS Date), N'đi du lịch', N'Đã duyệt', CAST(N'2026-04-08T18:04:17.663' AS DateTime), CAST(N'2026-04-08' AS Date))
SET IDENTITY_INSERT [dbo].[DonTu] OFF
GO
SET IDENTITY_INSERT [dbo].[GiamGia] ON 

INSERT [dbo].[GiamGia] ([MaGG], [TenGG], [PhanTramGiam], [DieuKien], [NgayBD], [NgayKT], [TinhTrang]) VALUES (1, N'Giảm 10% cho đơn trên 1.000.000đ', 10, 1000000, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date), 1)
INSERT [dbo].[GiamGia] ([MaGG], [TenGG], [PhanTramGiam], [DieuKien], [NgayBD], [NgayKT], [TinhTrang]) VALUES (2, N'Giảm 15% dịp Black Friday', 15, 500000, CAST(N'2025-11-25' AS Date), CAST(N'2025-11-30' AS Date), 1)
INSERT [dbo].[GiamGia] ([MaGG], [TenGG], [PhanTramGiam], [DieuKien], [NgayBD], [NgayKT], [TinhTrang]) VALUES (3, N'Giảm 5% cho tất cả đơn hàng', 5, 0, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[GiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap], [TongTien], [MaGG], [GhiChu], [TrangThai]) VALUES (1, 1, 1, CAST(N'2025-11-01' AS Date), 1425000, 3, N'Khách thanh toán ti?n m?t', N'Ðã Thanh Toán')
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap], [TongTien], [MaGG], [GhiChu], [TrangThai]) VALUES (2, 2, 2, CAST(N'2025-11-02' AS Date), 2375000, 6, N'Khách thanh toán th?', N'Ðã Thanh Toán')
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap], [TongTien], [MaGG], [GhiChu], [TrangThai]) VALUES (3, 3, 3, CAST(N'2025-11-03' AS Date), 1800000, 2, N'Khách thân thi?t', N'Ðã Thanh Toán')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [Ho], [Ten], [GioiTinh], [SoDienThoai], [TongChiTieu], [TinhTrang]) VALUES (1, N'Phạm Văn', N'T', N'Nam', N'0678934234', 0, 1)
INSERT [dbo].[KhachHang] ([MaKH], [Ho], [Ten], [GioiTinh], [SoDienThoai], [TongChiTieu], [TinhTrang]) VALUES (2, N'Huỳnh', N'Thu V', N'Nam', N'0156793556', 0, 0)
INSERT [dbo].[KhachHang] ([MaKH], [Ho], [Ten], [GioiTinh], [SoDienThoai], [TongChiTieu], [TinhTrang]) VALUES (3, N'Trần', N'Nam', N'Nam', N'0911111111', 15000000, 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuChucVu] ON 

INSERT [dbo].[LichSuChucVu] ([MaLS], [MaNV], [MaCVCu], [MaCVMoi], [NgayThayDoi], [GhiChu]) VALUES (1, 2, N'CV05', N'CV02', CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'Thăng chức lên Quản lý nhân sự')
INSERT [dbo].[LichSuChucVu] ([MaLS], [MaNV], [MaCVCu], [MaCVMoi], [NgayThayDoi], [GhiChu]) VALUES (2, 5, N'CV06', N'CV05', CAST(N'2025-06-15T00:00:00.000' AS DateTime), N'Chuyển từ nhập hàng sang bán hàng')
INSERT [dbo].[LichSuChucVu] ([MaLS], [MaNV], [MaCVCu], [MaCVMoi], [NgayThayDoi], [GhiChu]) VALUES (3, 12, N'CV05', N'CV04', CAST(N'2026-02-01T00:00:00.000' AS DateTime), N'Thăng chức lên Quản lý bán hàng')
SET IDENTITY_INSERT [dbo].[LichSuChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[loai] ON 

INSERT [dbo].[loai] ([MaLoai], [TenLoai], [MoTa]) VALUES (1, N'Đồng hồ cơ tự động', N'Sử dụng cơ chế tự động lên dây cót')
INSERT [dbo].[loai] ([MaLoai], [TenLoai], [MoTa]) VALUES (2, N'Đồng hồ cơ lên dây tay', N'Người dùng tự lên dây cót thủ công')
INSERT [dbo].[loai] ([MaLoai], [TenLoai], [MoTa]) VALUES (3, N'Đồng hồ skeleton', N'Thiết kế hở máy, nhìn thấy chuyển động bên trong')
SET IDENTITY_INSERT [dbo].[loai] OFF
GO
INSERT [dbo].[LuongCoBanTheoChucVu] ([MaCV], [LuongCoBan], [PhuCapChucVu], [HeSoLuong]) VALUES (N'CV01', CAST(25000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), CAST(2.50 AS Decimal(5, 2)))
INSERT [dbo].[LuongCoBanTheoChucVu] ([MaCV], [LuongCoBan], [PhuCapChucVu], [HeSoLuong]) VALUES (N'CV02', CAST(18000000 AS Decimal(18, 0)), CAST(5000000 AS Decimal(18, 0)), CAST(1.80 AS Decimal(5, 2)))
INSERT [dbo].[LuongCoBanTheoChucVu] ([MaCV], [LuongCoBan], [PhuCapChucVu], [HeSoLuong]) VALUES (N'CV03', CAST(18000000 AS Decimal(18, 0)), CAST(5000000 AS Decimal(18, 0)), CAST(1.80 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [TrangThai]) VALUES (1, N'Rolex Việt Nam', N'Hà Nội', N'0901111111', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [TrangThai]) VALUES (2, N'Omega Luxury', N'TP. Hồ Chí Minh', N'0902222222', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [TrangThai]) VALUES (3, N'Casio Chính Hãng', N'Đà Nẵng', N'0903333333', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [SoDienThoai], [MaCV], [TrangThai]) VALUES (1, N'Nguyễn Thị ', N'Kiều Hương', N'Nữ', N'0835800067', N'CV01', 1)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [SoDienThoai], [MaCV], [TrangThai]) VALUES (2, N'Nguyễn', N'A', N'Nữ', N'0835800068', N'CV02', 1)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [SoDienThoai], [MaCV], [TrangThai]) VALUES (3, N'Nguyễn ', N'B', N'Nam', N'0835800069', N'CV03', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [MaNV], [MaNCC], [NgayLap], [TongTien], [TrangThai]) VALUES (1, 1, 1, CAST(N'2025-01-05' AS Date), 125000000, NULL)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNV], [MaNCC], [NgayLap], [TongTien], [TrangThai]) VALUES (2, 2, 2, CAST(N'2025-01-08' AS Date), 85000000, NULL)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNV], [MaNCC], [NgayLap], [TongTien], [TrangThai]) VALUES (3, 3, 3, CAST(N'2025-01-10' AS Date), 64000000, NULL)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID], [TenSP], [ThuongHieu], [Xuatxu], [MaLoai], [GioiTinh], [GiaBan], [SoLuong], [HinhAnh], [MoTa], [maNCC], [TrangThai]) VALUES (1, N'Rolex Submariner', N'Rolex', N'Thụy Sĩ', 4, N'Nữ', CAST(350000000.00 AS Decimal(18, 2)), 40, N'/images/casio-ltp-v006d-7b2udf-nu.jpg', N'Đồng hồ lặn cơ tự động', 1, 1)
INSERT [dbo].[SanPham] ([ID], [TenSP], [ThuongHieu], [Xuatxu], [MaLoai], [GioiTinh], [GiaBan], [SoLuong], [HinhAnh], [MoTa], [maNCC], [TrangThai]) VALUES (2, N'Omega Speedmaster', N'Omega', N'Thụy Sĩ', 5, N'Nữ', CAST(250000000.00 AS Decimal(18, 2)), 0, N'/images/casio-ltp-v007l-1budf-nu.jpg', N'Đồng hồ thể thao cơ', 2, 1)
INSERT [dbo].[SanPham] ([ID], [TenSP], [ThuongHieu], [Xuatxu], [MaLoai], [GioiTinh], [GiaBan], [SoLuong], [HinhAnh], [MoTa], [maNCC], [TrangThai]) VALUES (3, N'Casio MTP-V005', N'Casio', N'Nhật Bản', 2, N'Nữ', CAST(3000000.00 AS Decimal(18, 2)), 56, N'/images/casio-ltp-vt01gl-4budf-nu.jpg', N'Đồng hồ cơ lên dây tay', 3, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau], [MaQuyen], [TrangThai]) VALUES (1, N'admin', N'admin', N'ADMIN', 1)
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau], [MaQuyen], [TrangThai]) VALUES (2, N'nv1', N'12345', N'QL_NHANSU', 1)
INSERT [dbo].[TaiKhoan] ([MaNV], [TaiKhoan], [MatKhau], [MaQuyen], [TrangThai]) VALUES (3, N'nv2', N'nv2', N'QL_KHO', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhanQuye__5637EE795EAD7574]    Script Date: 09/04/2026 06:35:59 ******/
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [UQ__PhanQuye__5637EE795EAD7574] UNIQUE NONCLUSTERED 
(
	[TenQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__D5B8C7F079445354]    Script Date: 09/04/2026 06:35:59 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ__TaiKhoan__D5B8C7F079445354] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [PhuCap]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [Thuong]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((0)) FOR [Phat]
GO
ALTER TABLE [dbo].[BangLuong] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (N'Đi làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonTu] ADD  CONSTRAINT [DF__DonTu__TrangThai__43D61337]  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonTu] ADD  CONSTRAINT [DF__DonTu__NgayTao__44CA3770]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonTu] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__NgayLap__5165187F]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__TongTien__52593CB8]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[LichSuChucVu] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[LuongCoBanTheoChucVu] ADD  CONSTRAINT [DF__LuongCoBa__PhuCa__0880433F]  DEFAULT ((0)) FOR [PhuCapChucVu]
GO
ALTER TABLE [dbo].[LuongCoBanTheoChucVu] ADD  CONSTRAINT [DF__LuongCoBa__HeSoL__09746778]  DEFAULT ((1.0)) FOR [HeSoLuong]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Xe__531856C7]  DEFAULT ((0)) FOR [NS_XemDanhSach]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Th__540C7B00]  DEFAULT ((0)) FOR [NS_Them]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Su__55009F39]  DEFAULT ((0)) FOR [NS_Sua]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Xo__55F4C372]  DEFAULT ((0)) FOR [NS_Xoa]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Du__56E8E7AB]  DEFAULT ((0)) FOR [NS_DuyetNghi]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Th__57DD0BE4]  DEFAULT ((0)) FOR [NS_ThayDoiChucVu]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Ti__58D1301D]  DEFAULT ((0)) FOR [NS_TinhLuong]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_Xe__59C55456]  DEFAULT ((0)) FOR [NS_XemLuongCaNhan]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__NS_In__5AB9788F]  DEFAULT ((0)) FOR [NS_InBangLuong]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_X__5BAD9CC8]  DEFAULT ((0)) FOR [KHO_XemSanPham]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_T__5CA1C101]  DEFAULT ((0)) FOR [KHO_ThemSanPham]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_S__5D95E53A]  DEFAULT ((0)) FOR [KHO_SuaSanPham]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_X__5E8A0973]  DEFAULT ((0)) FOR [KHO_XoaSanPham]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_N__5F7E2DAC]  DEFAULT ((0)) FOR [KHO_NhapHang]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_Q__607251E5]  DEFAULT ((0)) FOR [KHO_QuanLyNCC]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__KHO_B__6166761E]  DEFAULT ((0)) FOR [KHO_BaoCaoTonKho]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__BH_La__625A9A57]  DEFAULT ((0)) FOR [BH_LapPhieuXuat]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__BH_Th__634EBE90]  DEFAULT ((0)) FOR [BH_ThongKeDoanhThu]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__BH_Th__6442E2C9]  DEFAULT ((0)) FOR [BH_ThongKeLoiNhuan]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__PQ_Qu__65370702]  DEFAULT ((0)) FOR [PQ_QuanLyPhanQuyen]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__ADMIN__662B2B3B]  DEFAULT ((0)) FOR [ADMIN_BaoCaoTongHop]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLBan__671F4F74]  DEFAULT ((0)) FOR [QLBanHang]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLNha__681373AD]  DEFAULT ((0)) FOR [QLNhapHang]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLNha__690797E6]  DEFAULT ((0)) FOR [QLNhanVien]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLSan__69FBBC1F]  DEFAULT ((0)) FOR [QLSanPham]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLKha__6AEFE058]  DEFAULT ((0)) FOR [QLKhachHang]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLKhu__6BE40491]  DEFAULT ((0)) FOR [QLKhuyenMai]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__QLTho__6CD828CA]  DEFAULT ((0)) FOR [QLThongKe]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF__PhieuNhap__NgayL__5441852A]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF__PhieuNhap__TongT__5535A963]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__ID__0B91BA14] FOREIGN KEY([ID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__ID__0B91BA14]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__MaHD__04E4BC85] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__MaHD__04E4BC85]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__CTPhieuNha__MaPN__5812160E] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK__CTPhieuNha__MaPN__5812160E]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[CTSanPham]  WITH CHECK ADD  CONSTRAINT [FK__CTSanPham__ID__59FA5E80] FOREIGN KEY([ID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[CTSanPham] CHECK CONSTRAINT [FK__CTSanPham__ID__59FA5E80]
GO
ALTER TABLE [dbo].[DonTu]  WITH CHECK ADD  CONSTRAINT [FK_DonTu_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonTu] CHECK CONSTRAINT [FK_DonTu_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaGG__5AEE82B9] FOREIGN KEY([MaGG])
REFERENCES [dbo].[GiamGia] ([MaGG])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaGG__5AEE82B9]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaKH__5BE2A6F2] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaKH__5BE2A6F2]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaNV__5CD6CB2B] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaNV__5CD6CB2B]
GO
ALTER TABLE [dbo].[LichSuChucVu]  WITH CHECK ADD  CONSTRAINT [FK_LSCV_ChucVu_Cuu] FOREIGN KEY([MaCVCu])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[LichSuChucVu] CHECK CONSTRAINT [FK_LSCV_ChucVu_Cuu]
GO
ALTER TABLE [dbo].[LichSuChucVu]  WITH CHECK ADD  CONSTRAINT [FK_LSCV_ChucVu_Moi] FOREIGN KEY([MaCVMoi])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[LichSuChucVu] CHECK CONSTRAINT [FK_LSCV_ChucVu_Moi]
GO
ALTER TABLE [dbo].[LichSuChucVu]  WITH CHECK ADD  CONSTRAINT [FK_LSCV_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichSuChucVu] CHECK CONSTRAINT [FK_LSCV_NhanVien]
GO
ALTER TABLE [dbo].[LuongCoBanTheoChucVu]  WITH CHECK ADD  CONSTRAINT [FK_LuongCoBanTheoChucVu_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[LuongCoBanTheoChucVu] CHECK CONSTRAINT [FK_LuongCoBanTheoChucVu_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TaiKhoan] ([MaNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNCC__5DCAEF64] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNCC__5DCAEF64]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNV__5EBF139D] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNV__5EBF139D]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[loai] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
USE [master]
GO
